<div class="container">
  <div class="row">
    <div class="card">
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="../../../../../assets/people/profile1.jpg"
          />
        </div>
        <div class="team-content">
          <h3 class="name">John Doe</h3>
          <h4 class="title">Hospital Director</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="../../../../../assets/people/profile3.jpg"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Brian Coleman</h3>
          <h4 class="title">Spec. of anesthesiology and medical director</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://picsum.photos/130/130?image=1027"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Lana Rhoades</h3>
          <h4 class="title">Head nurse</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="../../../../../assets/people/profile7.jpg"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Spec. of general surgery</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div>
        <div class="our-team">
          <div class="picture">
            <img
              class="img-fluid"
              src="../../../../../assets/people/profile9.jpg"
            />
          </div>
          <div class="team-content">
            <h3 class="name">Justin Ramos</h3>
            <h4 class="title">Web Developer</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="our-team">
          <div class="picture">
            <img
              class="img-fluid"
              src="../../../../../assets/people/profile4.jpg"
            />
          </div>
          <div class="team-content">
            <h3 class="name">Justin Ramos</h3>
            <h4 class="title">Web Developer</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="../../../../../assets/people/profile2.jpg"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Web Developer</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="../../../../../assets/people/profile5.jpg"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Web Developer</h4>
        </div>
      </div>
    </div>
  </div>
</div>
