<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img
          class="appointments-img"
          src="../../../../../assets/hospital-services/general.png"
        />
        <h3>General Medicine</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          General medicine or internal medicine, is a branch of medicine that
          focuses on the diagnosis, treatment, and prevention of adult diseases.
          It is a primary care specialty, which means that they are often the
          first point of contact for our patients.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../../../assets/hospital-services/heart-beat.png" />
        <h3>Cardiology</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Cardiology is a branch of medicine that specializes in the diagnosis,
          treatment, and prevention of diseases of the heart and blood vessels.
          Cardiology has made great progress in recent years and it keeps
          progressing.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../../../assets/hospital-services/brain.png" />
        <h3>Neurology</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Neurology is a branch of medicine that specializes in the diagnosis,
          treatment, and management of disorders of the nervous system. This
          includes the brain, spinal cord, nerves... Research in neurology is an
          active and rapidly growing field.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../../../assets/hospital-services/x-ray.png" />
        <h3>Radiology</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Radiology is a medical specialty that uses imaging techniques such as
          x-rays, computed tomography (CT), magnetic resonance imaging (MRI),
          ultrasound, and nuclear medicine to diagnose and treat disease.
        </p>
      </div>
    </div>
  </div>
</div>
