<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img
          class="appointments-img"
          src="../../../../../assets/hospital-services/general.png"
        />
        <h3>General Medicine</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum
          cumque minus iste veritatis provident at.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../../../assets/hospital-services/heart-beat.png" />
        <h3>Cardiology</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum
          cumque minus iste veritatis provident at.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../../../assets/hospital-services/brain.png" />
        <h3>Neurology</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum
          cumque minus iste veritatis provident at.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="../../../../../assets/hospital-services/x-ray.png" />
        <h3>Radiology</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum
          cumque minus iste veritatis provident at.
        </p>
      </div>
    </div>
  </div>
</div>
