.text-container{
    padding-top: 5rem; 
    padding-left: 5rem;
   
    
    
    h1{
        font-size: 3rem;
        line-height:1.2;
        list-style: bold;
    }
    
    p{
        line-height: 2rem;
        padding-top: 1rem;
        font-size: 1.5rem;
        
    }  
    
    .table_containter{
        size: 80%;
        padding-left: 20%;
        margin-top: 5%;
        float: left;
        font-weight: 600;
        color: rgb(92, 92, 92);
        
       
    }
    .table-data{
        padding-left: 40%;
        font-weight: 300;
        margin-top: 5.5%;
      
    }
    .mat-button{
        width: 20%;
        background-color: rgb(215, 214, 214);
        float:right;
        margin-right: 10%;
    }
}