<div class="text-container">
<h1>Appointment informations </h1>
<div class="table_containter">
    
        <p>Patient:</p>
        <p>Doctor:</p>
        <p>Appointment id:</p>
        <p>Appointement date:</p>
        <p>Examination type:</p>
        <p>Admittance reason:<p>
        <p>Release report:</p>
        <p>Therapies:</p>
    </div>
       
        <div class="table-data">
            <p> Mitraja</p>
            <p> Milos Gravarini</p>
            <p> 7</p>
            <p> 07.12.2022</p>
            <p> control</p>
            <p>Pacijent je dosao sa bolom u stomaku, zali se na mucninu i malaksalost<p>
            <p>Oporavljen pacijent</p>
            <p>Brufen, probiotik</p>
        </div>
   
    <button mat-button (click)="generatePdf()">
        PDF
    </button>
</div>