.appointment-container{
    height: 85%;
    width: 85%;
    padding: 6%;
    float: left;
    

    .text-container{
        padding-top: 1rem; 
        padding-left: 1rem;
        padding-bottom: 2rem;
        h1{
            font-size: 3rem;
            line-height:1.2;
        }
    }
    .appointment-right{
        width: 42%;
        padding-left: 11%;
        padding-bottom: 5%;
        float: left;
        overflow-y: scroll;
        height: 60%;
        

    
        .mat-card{
           height: 40%;
           margin: 1.3rem;
           width: 34%;
           float: left;
        
        .mat-card-header{
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 10%;
            font-size: 1.2rem;
            font-weight : bold;
            color: rgb(105, 103, 103);
            
        }
       

        .mat-card-footer{
            float: right;
            padding-left: 3%;
            padding-bottom: 2%;
           
        }
         }
    }
        
    
    .appointment-left{
       width: 42%;
       padding-right: 5% ;
       padding-top: 2%;
       padding-bottom: 2%;
       float: left;
       
       .mat-form-field{
        float: left;
        width: 100%;
        height: 7%;
        padding: 1rem;
        font-size: 1.25rem;
       }
       .mat-radio-group{
        float: left;
        width: 100%;
        height: 7%;
        padding: 1rem;
        font-size: 1.25rem;
       }
       
       .mat-radio-button{
        padding-right: 5%;
        padding: 2rem;
       }
       .priority{
        padding-right: 10%;
        color: rgb(120, 119, 119);
       }
       .submit-button{
        width: 100%;
        background-color: var(--submit-button-white);
        color: var(--blue);
        height: 50px;
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-left: 2.5%;
        border: 2px solid var(--blue);
    }
      
    }

   
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: var(--blue) !important;
  }
  
/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--blue)!important;
  }

::ng-deep .mat-radio-outer-circle {
    .mat-radio-checked & {
          border-color: blue;
        }
    }
    
::ng-deep .mat-radio-inner-circle {
        background-color: blue;
    }
