.background{
    background-color: #0066FF;
    display: flex;
    margin: 1rem auto;
    width: 60%;
    transition: all ease 300ms;
    border-radius: 10px;
  }
  .selected {
    display: flex;
    margin: 1rem auto;
    width: 50%;
    background-color: #0147af;
    border: black 4px solid;
    transition: all ease 300ms;
  }
  .background:hover{
    transform: scale(110%);
    background-color: #3785fb !important;
    cursor: pointer;
  }
  h3 {
    color: #fefefe;
    font-size: 1.5rem;
  }
  .info {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }
  .head {
   border-bottom: #fefefe 1px solid;
  }
  p{
    font-size: 1rem;
  }
  .date-time{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  .recommendation{
    color: #fefefe;
  }
