.container {
  padding: 1% 5% 0% 5%;
  text-align: center;
  display: grid;
  grid-template-columns: 80% 20%;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
}
::ng-deep .mat-form-field-infix{
  display: flex !important;
}
::ng-deep .mat-horizontal-stepper-header-container {
  margin-bottom: 2rem;
}
.card-container {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 2rem;
}
.description {
  padding-bottom: 2rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}
.date-selector{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  background-color: #0066FF;
  margin: 5px;
  color: #fefefe;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
.dateCard{
  background-color: #0066FF;
  margin-bottom: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.dateCard:hover{
  background-color: red;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #0066FF;
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #0066FF;
}
.buttons{
  margin-top: 2rem;
}
::ng-deep .mat-step-text-label {
  font-size: 1.15rem;
}
.calendar-card{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.calendar-container {
  display: block;
  width: 100%
}
.center {
  margin: 0 auto;
  width: 400px;
}
.stepper-card{
  margin: 2% 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  padding: 0% 5%;
  background-color: #fcfcfc;
}
.cards {
  overflow: auto;
  height: 52vh;
}
.side {
  margin-top: 20%;
}
.move {
  margin-top: 6rem;
}

button {
  height: 3rem;
  width: 6rem;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #0066FF;
}

