<div class="container">
  <div class="stepper-card">
    <h1 (click)="test()">Appointment reservation</h1>
    <mat-stepper orientation="horizontal" linear="true" #stepper>
      <mat-step label="Select a date 😄" [completed]="true">
        <div class="date-selector">
          <div class="description">When would you like your appointment to take place?</div>
          <div class="calendar-container">
            <div class="center">
              <mat-card class="calendar-card">
                <mat-calendar [minDate]="minDate" [(selected)]="selectedDate"></mat-calendar>
              </mat-card>
            </div>
          </div>
          <div class="buttons">
            <button mat-button matStepperNext (click)="NextClicked(0)" [disabled]="!aggregateId">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Select the medical branch 🥼" [completed]="selectedBranchId !== -1">
        <p class="description">Pick one of the many specialties we offer:</p>
        <div class="card-container">
          <app-medical-branch-card *ngFor="let discipline of branches" [content]="discipline"
            [selected]="selectedBranchId === discipline.id" (click)="selectBranch(discipline.id)">
          </app-medical-branch-card>
        </div>
        <div class="buttons move">
          <button mat-button matStepperPrevious (click)="BackClicked(1)">Back</button>
          <button mat-button matStepperNext [disabled]="selectedBranchId === -1" (click)="getDoctors(); NextClicked(1)">Next</button>
        </div>
      </mat-step>

      <mat-step label="Pick a doctor 👨‍⚕️" [completed]="selectedDoctorId !== -1">
        <div *ngIf="doctors" class="cards">
          <app-doctor-card *ngFor="let doctor of doctors" [doctor]="doctor" [selected]="selectedDoctorId === doctor.id"
            (click)="selectDoctor(doctor.id)"></app-doctor-card>
        </div>
        <div class="buttons">
          <button mat-button matStepperPrevious (click)="BackClicked(2)">Back</button>
          <button mat-button matStepperNext [disabled]="selectedDoctorId === -1"
            (click)="getAppointments(); ; NextClicked(2)">Next</button>
        </div>
      </mat-step>

      <mat-step label="Almost done, pick an appointment 📅" completed="false">
        <div *ngIf="appointments && !noneFound" class="cards">
          <div *ngFor="let appointment of appointments">
            <app-appointment-card [appointment]="appointment" [selected]="selectedAppointment === appointment.date"
              (click)="selectAppointment(appointment.date)"></app-appointment-card>
          </div>
        </div>
        <div class="helper" *ngIf="noneFound">
          <p>Unfortunately, no appointments seem to match you criteria 😢</p>
          <p>Would you like to:</p>
          <div class="options">
            <button mat-button (click)="pickNewDate()">Pick another date</button>
            <button mat-button (click)="pickNewDoctor()">Pick another doctor</button>
            <button mat-button (click)="toHomePage()">Go back to the home page</button>
          </div>
        </div>
        <div class="buttons" *ngIf="appointments && !noneFound">
          <button mat-button matStepperPrevious (click)="BackClicked(3)">Back</button>
          <button mat-button (click)="Schedule()">Schedule</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="side">
    <app-selection-info [selectedDate]="selectedDate ? selectedDate : null"
    [selectedBranch]="selectedBranch ? selectedBranch : null" [selectedDoctor]="selectedDoctor ? selectedDoctor : null"
    [selectedTime]="selectedAppointment ? selectedAppointment : null"></app-selection-info>
  </div>
</div>
