<div class="container">
  <div class="form">
    
      <h2>Blood bank admin login</h2>
      <label *ngIf="showWrongUsernameOrPass" class="error"
        >Username or password is incorect.</label
      >
      <div class="form__elem">
        <mat-form-field class="example-full-width email" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="pera.petrovic@gmail.com"
            [(ngModel)]="email"
          />
        </mat-form-field>
      </div>
      <div class="form__elem">
        <mat-form-field appearance="fill" class="key password">
          <mat-label>Password</mat-label>
          <input
            matInput
            required
            [(ngModel)]="oldPassword"
            [type]="hideOld ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideOld = !hideOld"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideOld"
          >
            <mat-icon>{{ hideOld ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div *ngIf="!credentialsCorrect" class="form__button">
        <button mat-raised-button color="primary" (click)="checkCredentials()">
          Submit
        </button>
      </div>
      <div *ngIf="credentialsCorrect">
        <div class="form__elem">
          <mat-form-field appearance="fill" class="key password">
            <mat-label>New password</mat-label>
            <input
              matInput
              required
              [(ngModel)]="newPassword"
              [type]="hideNew ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideNew = !hideNew"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideNew"
            >
              <mat-icon>{{
                hideNew ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form__elem">
          <mat-form-field appearance="fill" class="key password">
            <mat-label>New password</mat-label>
            <input
              matInput
              required
              [(ngModel)]="repeatNewPassword"
              (ngModelChange)="matchPassword()"
              [type]="hideNewRepeat ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideNewRepeat = !hideNewRepeat"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideNewRepeat"
            >
              <mat-icon>{{
                hideNewRepeat ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <label *ngIf="showError" class="error">Password doesn't match.</label>
        </div>
        <div class="form__button">
          <button mat-raised-button color="primary" (click)="changePassword()">
            Submit
          </button>
        </div>
      </div>
    
  </div>
</div>
