<div class="container">
  <div class="form">
    <mat-card>
      <h2>Change password</h2>
      <label *ngIf="showWrongUsernameOrPass" class="error"
        >Username or password is incorect.</label
      >
      <div class="form__elem">
        <label>Email:</label>
        <input type="email" name="email" [(ngModel)]="email" />
      </div>
      <div class="form__elem">
        <label>Password:</label>
        <input type="password" name="password" [(ngModel)]="oldPassword" />
      </div>
      <div *ngIf="!credentialsCorrect" class="form__button">
        <button (click)="checkCredentials()">Submit</button>
      </div>
      <div *ngIf="credentialsCorrect">
        <div class="form__elem">
          <label>New password:</label>
          <input type="password" name="password" [(ngModel)]="newPassword" />
        </div>
        <div class="form__elem">
          <label>Repeat new password:</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="repeatNewPassword"
            (ngModelChange)="matchPassword()"
          />
          <label *ngIf="showError" class="error">Password doesn't match.</label>
        </div>
        <div class="form__button">
          <button (click)="changePassword()">Submit</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
