@import "../../../../../colors.scss";

.container {
  background-color: var(--light-blue);
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form__elem,
h2 {
  margin: 1rem;
}

.form__button {
  display: flex;
  justify-content: center;
}

label {
  display: block;
}

.error {
  color: red;
}

.password,
.email {
  width: 14rem;
}
