<header>
  <nav>
    <img (click)="onHome()" src="assets/navbar/logo.webp" class="logo shrink" />
    <ul>
      <li class="shrink"><a href="/app/home">Home</a></li>
      <li  class="shrink"><a id="feedback" href="/app/feedback">Feedback</a></li>
      <li class="shrink"><a href="/app/home">About</a></li>
      <li class="shrink"><a href="/reservation">Reservations</a></li>
      <li class="shrink"><a href="/tenders">Active tenders</a></li>
    </ul>
    <img (click)="onToggle()" src="assets/navbar/user.png" class="user-pic" />

    <div [ngClass]="isToggled ? 'open-menu ' : 'sub-menu-wrap'">
      <div class="sub-menu">
        <div class="user-info">
          <img src="assets/navbar/user.png" />
          <h2>{{ name }}</h2>
        </div>
        <hr />
        <a href="/app/profile" class="sub-menu-link">
          <img src="assets/navbar/profile.png" />
          <p>My Profile</p>
          <span>></span>
        </a>
        <a href="/app/home" class="sub-menu-link">
          <img src="assets/navbar/setting.png" />
          <p>Settings</p>
          <span>></span>
        </a>
        <a href="/app/home" class="sub-menu-link">
          <img src="assets/navbar/help.png" />
          <p>Help</p>
          <span>></span>
        </a>
        <a (click)="onLogout()" href="#" class="sub-menu-link red">
          <img src="assets/navbar/logout.png" />
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
  </nav>
</header>
