<header>
  <nav>
    <img src="assets/navbar/logo.png" class="logo" />
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <img (click)="onToggle()" src="assets/navbar/user.png" class="user-pic" />

    <div [ngClass]="isToggled ? 'open-menu ' : 'sub-menu-wrap'">
      <div class="sub-menu">
        <div class="user-info">
          <img src="assets/navbar/user.png" />
          <h2>John Doe</h2>
        </div>
        <hr />
        <a href="#" class="sub-menu-link">
          <img src="assets/navbar/setting.png" />
          <p>Edit Profile</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="assets/navbar/help.png" />
          <p>Edit Profile</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="assets/navbar/logout.png" />
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
  </nav>
</header>
