<mat-toolbar class="nav-background">
  <mat-toolbar-row>
    <a routerLink="/">
      <button mat-button>Welcome</button>
    </a>
    <a routerLink="/home">
      <button mat-button>Home</button>
    </a>
    <a routerLink="/profile">
      <button mat-button *ngIf="isLogged">My profile</button>
    </a>
    <a routerLink="/feedback">
      <button mat-button *ngIf="isLogged">Leave us Feedback</button>
    </a>
    <a routerLink="/login">
      <button mat-button *ngIf="!isLogged">Login</button>
    </a>
    <a>
      <button mat-button *ngIf="isLogged" (click)="onLogout()">Logout</button>
    </a>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
