.tender-container {
    width: 85%;
    padding: 6%;
    .text-container{
        padding-top: 1rem; 
        padding-left: 1rem;
        
        h1{
            font-size: 3rem;
            line-height:1.2;
        }
        
        p{
            line-height: 2rem;
            padding-top: 1rem;
            font-size: 1.5rem;
            font-weight: 300;
        }  
        
    }
    table {
        width: 50%;
    }
}