&-card {
    height: 5rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all .5s;

    &:hover {
        transform: scale(1.05);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        transition: all .5s;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        transition: all .5s;
    }

    &--icon {

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 3.2rem;
        width: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

    &--header {
        font-size: 1.2rem;
        letter-spacing: .1rem;
        font-weight: 600;
        color: #777;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        align-items: center;
    }
}

.active {
    transform: scale(0.9);
    //box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: #d3d3d3;
    transition: all .5s;
}