@import url('../../../../../colors.scss');

.form-container {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: 3rem;

  .text-container {
    h1 {
      font-size: 2.5rem;
    }

    p {
      line-height: 2rem;
      padding-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  .form-fields {
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;

    .form-field {
      width: 100%;
      font-size: 1.5rem;
    }
  }
}

.submit-button {
  width: 100%;
  background-color: var(--submit-button-white);
  color: var(--blue);
  height: 50px;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  border: 2px solid var(--blue);
}

button:hover {
  background-color: var(--blue);
  color: var(--submit-button-white);
}

button:disabled {
  color: var(--blue) !important;
  background-color: var(--submit-button-white);
  cursor: not-allowed;
}

.mat-form-field {
  margin-bottom: 1rem;
}

.forgot-section {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.sign-up-section {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.error-message {
  font-size: 1.5rem;
  color: var(--error-red);
  margin-top: 1rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--blue)
}

.mat-icon {
  padding-bottom: 0.5rem;
  scale: 90%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--blue) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  color: var(--blue);
}

// taken from stack overflow: https://stackoverflow.com/questions/52567808/how-to-change-angular-6-material-radio-button-outer-ripple-color/52569008#52569008
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--blue) !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--blue) !important;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: var(--dark-blue);
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--blue) !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: var(--blue) !important;
}
