<body>
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="#"
          ><img
            class="social_icon_img"
            src="../../../../../assets/footer/facebook.png"
          />
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://intagram.com">
          <img
            class="social_icon_img"
            src="../../../../../assets/footer/instagram.png"
          />
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://mail.google.com/">
          <img
            class="social_icon_img"
            src="../../../../../assets/footer/gmail.png"
          />
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#hero">Home</a></li>
      <li class="menu__item">
        <a class="menu__link" href="#services">Services</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#feedback">Feedback</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="#team">Team</a></li>
    </ul>
    <p class="p-pointer">
      &copy;2022 Care Connect |
      <a class="email">psw.hospital.contact@gmail.com</a>
    </p>
  </footer>
</body>
