<div class="page">
  <h1 class="heading">Thank you for registering!</h1>
  <h3 class="paragraf">
    A confirmation has been sent to your email, please confirm to continue.
  </h3>
  <div class="btn-container">
    <button (click)="handleClick()">
      <span class="text">Confirm mail</span>
      <div class="icon-container">
        <div class="icon icon--left">
          <img
            class="google-icon"
            src="../../../../../assets/confirm-mail/envelope.png"
            alt="gmail.com"
          />
        </div>
        <div class="icon icon--right">
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
        </div>
      </div>
    </button>
  </div>
</div>
