<div class="page-layout">
  <div class="grid-container">
    <div class="middle">
      <p class="small-title">Appointments</p>
      <app-calendar></app-calendar>
    </div>
    <div class="info-container">
      <div class="news-container">
        <p class="small-title">News</p>
        <app-news-swiper [news]="news"></app-news-swiper>
      </div>
      <div class="news-container">
        <p class="small-title">Covid Guard</p>
        <section id="hero" class="header section" (click)="handleGuard()">
          <div class="header__image">
            <div class="header__text-box">
              <h1 class="heading-primary">
                <span class="heading-primary--main">COVID GUARD</span>
                <span class="heading-primary--sub"
                  >- The Ultimate COVID-19 Detection Solution -</span
                >
              </h1>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
