<div class="page-layout">
  <div class="grid-container">
    <div class="middle">
      <p class="small-title">Appointments</p>
      <app-calendar></app-calendar>
    </div>
    <div class="info-container">
      <div class="news-container">
        <p class="small-title">News</p>
        <app-news-swiper [news]="news"></app-news-swiper>
      </div>
      <div class="chart-symptoms">
        <div class="small-title">Chart - Symptom Frequency</div>
        <app-symptoms-chart></app-symptoms-chart>
      </div>
    </div>
  </div>
</div>
