* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-layout {
  width: calc(100% - 300px);
  margin: auto;
}

.grid-container {
  display: grid;
  padding: 5rem 5%;
  grid-template-areas:
    'middle middle middle middle middle middle'
    'left left left left left right'
}

.left {
  grid-area: left;
  background-color: black;
}

.right {
  grid-area: right;
  height: 300px;
  background-color: red;
}

.middle {
  grid-area: middle;
  // height: auto;
  // width: auto;
}

.left,
.middle,
.right {
  border-radius: 10px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}


@media (max-width: 1200px) {
  .grid-container {
    grid-template-areas:
      'middle middle middle middle middle middle'
      'left left left left left left'
      'right right right right right right'
  }
}
