:root {
  --blue: #0066ff;
  --light-blue: #a6d4fa;
  --dark-blue: #052035;
  --white: #efefef;
  --submit-button-white: #fff;
  --img-gray: #e5e5e5;
  --red: #ff0033;
  --error-red: #f44b3f;
  --not-found: #528cce;
  --home-page-button: #64a5ff;
  --main-background: #EFEFEF;
  --yellow: #FEDD00;
  --green: #4dca35;
  --selected: #4070F4;
  --canceled: #FFCCCB;
  --calendar-text: #505050;
  --calendar-text-hover: #050404;
  --welcome-background: #71dbeb;
}
