/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  margin: 0;
}

html,
body {
  height: 100%;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c4c7cf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c7cf;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.page .left {
  width: calc(55vw);
  height: calc(100vh);
  display: grid;
  place-items: center;
  padding-bottom: 5rem;
}

.page .left .form {
  width: 70%;
  height: 70%;
}

.page .right {
  width: 45%;
  height: 90%;
}
