@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import "../../../../../colors.scss";

.feedback-container {
  width: 80%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  height: auto;
  padding-bottom: 2rem;
}

.feedback-card {
  width: 100%;
  display: grid;
  place-items: center;
}

.feedback-card:last-child {
  margin-bottom: 5%;
}

.news-card {
  width: 100%;
  display: grid;
  place-items: center;
}

.news-card:last-child {
  margin-bottom: 5%;
}

.background {
  background-color: var(--light-blue);
  height: 100%;
}

.svg-background {
  aspect-ratio: 900/450;
  width: 100%;
  background-image: url("../../../../../../public/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: var(--white);
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  font-size: 80px;
  line-height: 90px;
  font-family: "Georgia";
}

h2 {
  color: var(--dark-blue);
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-family: "Georgia";
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.homeButton {
  display: block;
  margin: auto;
  margin-top: 5rem;
  background-color: var(--white);
  width: 15%;
  font-size: 20px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.carrousel {
  width: 100%;
  max-width: 700px;
}

.not-logged-buttons {
  display: flex;
  justify-content: end;
  margin-right: 5rem;
  color: var(--white);
}

.mat-button {
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-size: 1.5rem !important;
}

.shrink {
  transition: all .2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.9);
}
