@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import "../../../../../colors.scss";

.welcome-page {
  height: auto;
  background: var(--white);
}

.aboutUs-wrapper {
  width: 100%;
}

.little-title {
  margin-left: 9.5rem;
  font-size: 1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--welcome-card-blue);
}

.aboutUs-content {
  height: inherit;
  padding-top: 2rem;
}

.services-wrapper {
  width: 100%;
  height: 500px;
  margin-top: 10rem;
}

.services-content {
  height: inherit;
  width: 85%;
  margin: auto;
}

.team-wrapper {
  margin-top: 200px;
  padding-bottom: 200px;
}

.feedback-wrapper {
  height: 500px;
  margin-top: 10rem;
}

.feedback-container {
  width: 80%;
  display: grid;
  place-items: center;
  height: auto;
  padding-bottom: 2rem;
}

.feedback-card {
  width: 100%;
  display: grid;
  place-items: center;
}

.feedback-card:last-child {
  margin-bottom: 5%;
}

.svg-background {
  height: 100vh;
  width: 100%;
  background-image: url("../../../../../assets/landing-page/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: var(--white);
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  font-size: 80px;
  line-height: 90px;
  font-family: "Georgia";
}

h2 {
  color: black;
  margin-left: 9.3rem;
  font-size: 30px;
  margin-bottom: 2rem;
}

.homeButton {
  display: block;
  margin: auto;
  margin-top: 5rem;
  background-color: var(--white);
  width: 15%;
  font-size: 20px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.carrousel {
  width: 100%;
  max-width: 700px;
}

.not-logged-buttons {
  display: flex;
  justify-content: end;
  margin-right: 5rem;
  color: var(--white);
}

.mat-button {
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-size: 1.5rem !important;
}

.shrink {
  transition: all .2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.9);
}
