<div class="welcome-page">
  <section id="hero">
    <div class="svg-background">
      <div class="not-logged-buttons">
        <a (click)="onClick('login')">
          <button mat-button class="shrink">Login</button>
        </a>
        <a (click)="onClick('register')">
          <button mat-button class="shrink">Register</button>
        </a>
      </div>
    </div>
  </section>
  <section id="feedback">
    <div class="feedback-wrapper">
      <h2>What others think about us:</h2>
      <app-prime-ng-carousel [feedbacks]="feedback"></app-prime-ng-carousel>
    </div>
  </section>
  <section id="news">
    <h2>Blood bank news:</h2>
    <div class="feedback-container">
      <app-news-carousel
        class="carrousel"
        [allNews]="allNews"
      ></app-news-carousel>
    </div>
  </section>
</div>
