<div class="profile-div">
    <div class="left">
        <img class="profile-pic" src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png">
        <mat-label class="user-name">{{loggedPatient.applicationPatient.firstName}} {{loggedPatient.applicationPatient.lastName}}</mat-label>
        <mat-label class="email">{{loggedPatient.applicationPatient.email}}</mat-label>
        <button mat-raised-button>Edit profile</button>
        <button mat-raised-button>Change password</button>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="right">
        <mat-label class="heading">PERSONAL DETAILS</mat-label>
        <table>
            <tr>
                <td>
                    <mat-label class="p-question">Last name</mat-label>
                    <mat-label class="p-answer">{{loggedPatient.applicationPatient.lastName}}</mat-label>
                </td>
                <td>
                    <mat-label class="p-question">First name</mat-label>
                    <mat-label class="p-answer">{{loggedPatient.applicationPatient.firstName}}</mat-label>
                </td>
                <td>
                    <mat-label class="p-question">Gender</mat-label>
                    <mat-label class="p-answer">{{userGender}}</mat-label>
                </td>
                <td>
                    <mat-label class="p-question">Birth date</mat-label>
                    <mat-label class="p-answer">{{loggedPatient.birthDate | date:'mediumDate'}}</mat-label>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label class="p-question">Blood type</mat-label>
                    <mat-label class="p-answer">{{userBloodType}}</mat-label>
                </td>
                <td colspan="2">
                    <mat-label class="p-question">Doctor</mat-label>
                    <mat-label class="p-answer">{{loggedPatient.choosenDoctor}}</mat-label>
                </td>
            </tr>
        </table>
        <mat-label class="heading">ALLERGIES</mat-label>
        <mat-list>
            <mat-list-item class="li" *ngFor="let a of loggedPatient.allergies">{{loggedPatient.allergies}}
            </mat-list-item>
          </mat-list>
        
    </div>
</div>
