.register-form-container{
    width: 85%;
    padding: 6%;

    .mat-form-field{
        width: 100%;
        padding: 1rem;
        font-size: 1.25rem;
        height: 5%;
    }

    .text-container{
        padding-top: 1rem; 
        padding-left: 1rem;
        
        h1{
            font-size: 3rem;
            line-height:1.2;
        }
        
        p{
            line-height: 2rem;
            padding-top: 1rem;
            font-size: 1.5rem;
            font-weight: 300;
        }  
        
    }
    .dropdown{
        font-size: 1rem;
        border-width: 0ch;
        padding: 1rem;
        height: 5%;
        width: 100%;
    }
    .left{
        float: left;
        padding-right: 8% ;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 45%;

        .submit-button{
            width: 100%;
            background-color: var(--submit-button-white);
            color: var(--blue);
            height: 50px;
            font-size: 1.5rem;
            margin-top: 6rem;
            margin-left: 2.5%;
            border: 2px solid var(--blue);
        }
    }
    .right{
        float: left;       
        width: 45%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    
}


/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: var(--blue) !important;
  }
  
/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--blue)!important;
  }
